.venv
Dataset
Videos
.DS_Store
.venv/
.conda
Outpus
Videos.zip
Video_Codec_SDK_13.0.19
get-pip.py
ffmpeg
output.mp4
nv-codec-headers
video.mp4
__pycache__
/__pycache__
Boxes
video.mp4
coco8
Datasets
pycuda
concat_list.txt
output_1hour.mp4
output_5min.mp4
potatocheck.v5i.yolov8.zip
yolov8n.pt
.venv/